{% extends 'base.html.twig' %}

{% block title %}Ten Ke Poder{% endblock %}

{% block content %}
<section class="main-banner" {% if is_mobile() %}style="background-size: cover;background-position: center;"{% endif %}>
    <div class="banner-slider">
        <div class="banner-slide">
            <div class="container">
                <div class="main-banner-text">
                    <span class="wow fadeInUp" data-wow-delay="300ms">{% trans %}Estrategia{% endtrans %}</span>
                    <h1 class="wow fadeInUp" data-wow-delay="450ms">{% trans %}Soluciones digitales{% endtrans %}<span></span></h1>
                    <p class="wow fadeInUp" data-wow-delay="600ms">{% trans %}Creamos nuevas tecnologías para tu negocio. Te ayudamos a mantener, adaptar o expandir tu proyecto. {% endtrans %}</p>
                    <a href="#sec-block" title="TKP - Services" class="btn-default2">{% trans %}ver más{% endtrans %} <img src="images/icon4.svg" alt="TKP - Services" style="display: unset; width: auto;"></a>
                </div><!--main-banner-text end-->
            </div>
        </div><!--banner-slide end-->
        <div class="banner-slide">
            <div class="container">
                <div class="main-banner-text">
                    <span>{% trans %}Creatividad{% endtrans %}</span>
                    <h1>{% trans %}Diseño web{% endtrans %}<span></span></h1>
                    <p>{% trans %}Responsive. Soporte SEO con metadatos que te permiten posicionar fácilmente. Contenidos web gestionables. {% endtrans %}</p>
                    <a href="#sec-block" title="TKP - Services" class="btn-default2">{% trans %}ver más{% endtrans %} <img src="images/icon4.svg" alt="TKP - Services" style="display: unset; width: auto;"></a>
                </div><!--main-banner-text end-->
            </div>
        </div><!--banner-slide end-->
        <div class="banner-slide">
            <div class="container">
                <div class="main-banner-text">
                    <span>{% trans %}Compromiso{% endtrans %}</span>
                    <h1>{% trans %}Orientado a objetivos{% endtrans %}<span></span></h1>
                    <p>{% trans %}Te ofrecemos soluciones web adaptadas a tus necesidades y objetivos. {% endtrans %}</p>
                    <a href="#sec-block" title="TKP - Services" class="btn-default2">{% trans %}ver más{% endtrans %} <img src="images/icon4.svg" alt="TKP - Services" style="display: unset; width: auto;"></a>
                </div><!--main-banner-text end-->
            </div>
        </div><!--banner-slide end-->
    </div><!--banner-slider end-->
    {% if is_mobile() or is_tablet() %}
        <div class="container">
            <div class="row pt-4 text-center">
                <div class="col-12"><a href="#consultation" title="TKP - Presupuesto" class="btn-default">{% trans %}Solicita Presupuesto{% endtrans %}</a></div>
                <div class="col-12"><a href="tel:+34695807868" title="TKP - Presupuesto" class="btn-default2 mt-4 ml-1">+34 695 80 78 68</a></div>
            </div>
        </div>
    {% endif %}
</section><!--main-banner end-->

<section class="sec-block overlay">
    <h2 class="page-number bottom">02.</h2>
    <div class="bg-position left-position"></div>
    <div class="container">
        <div class="expt-text float-right">
            <div class="main-banner-text title-hd wow slideInRight" data-wow-delay="300ms">
                <span>{% trans %}Sobre nosotros{% endtrans %}</span>
                <h1>{% trans %}Somos un equipo de profesionales{% endtrans %}<span></span></h1>
                <p>{% trans %}Con más de 10 años de experiencia en diferentes tecnologías. {% endtrans %}</p>
                <p class="bdy">{% trans %}Estamos comprometidos con la calidad de nuestros productos y su satisfacción, gracias a nuestro grupo de profesionales con experiencia somos capaces de brindarle el valor agregado que usted y su negocio están buscando.{% endtrans %} </p>
                <a href="{{ path('services') }}" title="" class="btn-default2">{% trans %}ver más{% endtrans %} <img src="images/icon4.svg" alt=""></a>
            </div>
        </div><!--expt-text end-->
        <div class="clearfix"></div>
    </div>
</section>

<section class="sec-block" id="sec-block">
    <div class="fixed-bg bg3"></div>
    <h2 class="page-number">03</h2>
    <div class="container">
        <div class="main-banner-text title-hd svs-header wow fadeInLeft" data-wow-delay="500ms">
            <span>{% trans %}nuestros servicios{% endtrans %}</span>
            <h1>{% trans %}Qué hacemos{% endtrans %} <span></span></h1>
            <p class="bdy">{% trans %}Desarrollo de páginas web corporativas, tiendas online, desarrollo a medida, consultoría, SEO...{% endtrans %} </p>
        </div>
    </div>
    <div class="services-section">
        <div class="container">
            <div class="row svs-carousel">
                {% set locale = app.request.locale %}
                {% for service in services %}
                    <div class="col-lg-3">
                        <div class="service-col wow fadeIn" data-wow-delay="300ms">
                            <div class="svs-icon">
                                <img src="{{ asset('images/iconserv'~loop.index~'.svg') }}" alt="TKP - {% if locale == 'es' %}{{ service.name }}{% else %}{{ service.nameEn }}{% endif %}">
                            </div>
                            <h3>{% if locale == 'es' %}{{ service.name }}{% else %}{{ service.nameEn }}{% endif %}</h3>
                            <a href="{{ path('service', {slug: service.slug }) }}" title="TKP - {% if locale == 'es' %}{{ service.name }}{% else %}{{ service.nameEn }}{% endif %}" class="btn-default2">{% trans %}ver más{% endtrans %}</a>
                        </div><!--service-col end-->
                    </div>
                {% endfor %}
            </div>
        </div>
    </div><!--services-section end-->
</section>

<section class="sec-block overlay" id="consultation">
    <div class="bg-position right-position"></div>
    <div class="container">
        <div class="consulation-section">
            <div class="main-banner-text title-hd wow fadeInUp" data-wow-delay="300ms">
                <span>{% trans %}Empecemos{% endtrans %}</span>
                <h1>{% trans %}Consulta gratuita{% endtrans %}<span></span></h1>
                <p class="bdy">{% trans %}Cuéntanos sobre tu proyecto y lo haremos realidad...{% endtrans %}</p>
            </div><!--title-hd end-->
            <div class="contact-form wow fadeInUp" data-wow-delay="300ms">
                {% include 'layout/contact.html.twig' with {'form': form } %}
            </div><!--contact-form end-->
        </div><!--consulation-section end-->
    </div>
</section>

<section class="sec-block">
    <div class="fixed-bg bg5"></div>
    <h2 class="page-number">05.</h2>
    <div class="container">
        <div class="section-head">
            <div class="main-banner-text title-hd wow fadeInUp" data-wow-delay="300ms">
                <span>portfolio</span>
                <h1>{% trans %}Proyectos recientes {% endtrans %}<span></span></h1>
                <p class="bdy">{% trans %}Siempre tratamos de implementar nuestros proyectos al más alto nivel. Sumate a nuestro portfolio.{% endtrans %}</p>
            </div><!--title-hd end-->
            <a href="{{ path('projects') }}" title="TKP - {% trans %}Proyectos{% endtrans %}" class="btn-default2">{% trans %}Ver todos los proyectos{% endtrans %}<img src="images/icon4.svg" alt=""></a>
            <div class="clearfix"></div>
        </div>
        <div class="pft-items">
            <div class="row">
                {% for project in projects %}
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 pb-3">
                        <div class="pft-item wow fadeInUp" data-wow-delay="300ms">
                            <img src="{% path project.image, 'reference' %}" alt="TKP - {{ project.name }}">
                            <div class="figcaption">
                                <h2><a href="{{ path('project', {slug: project.slug}) }}" title="">{{ project.name }}</a></h2>
                                <a href="{{ path('project', {slug: project.slug}) }}" title=""><img src="{{ asset('images/icon9.svg') }}" alt=""></a>
                            </div><!--figcaption end-->
                        </div><!--pft-item end-->
                    </div>
                {% endfor %}
            </div>
        </div><!--pft-items end-->
    </div>
</section><!--case-studies-section end-->
{% endblock %}