{% extends 'base.html.twig' %}

{% block title %}Ten Ke Poder{% endblock %}

{% block content %}
<section class="pager-sec text-right pb-75">
	<div class="container-fluid">
		<ul>
			<li><a href="{{ path('home') }}" title="TKP - {% trans %}Inicio{% endtrans %}">{% trans %}Inicio{% endtrans %}</a></li>
			<li><span>Services</span></li>
		</ul>
	</div>
</section><!--pager-sec end-->

<section class="sec-block3 pt-0">
	<div class="fixed-bg bg7"></div>
	<h2 class="page-number">01.</h2>
	<div class="container">
		<div class="main-banner-text title-hd max-width-100">
			<span>{% trans %}nuestros servicios{% endtrans %}</span>
			<h1>{% trans %}Tenemos los mejores servicios {% endtrans %}<span></span></h1>
			<p class="bdy">{% trans %}Siempre podemos conseguir lo que estás buscando, ponemos nuestra creatividad y proactividad a tu servicio. {% endtrans %}</p>
		</div><!--main-banner-text end-->
	</div>
	<div class="services-section without-carousel">
		<div class="container">
			<div class="row">
				{% set locale = app.request.locale %}
                {% for service in services %}
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="service-col">
						<div class="svs-icon">
							<img src="{{ asset('images/iconserv1.svg') }}" alt="TKP - {% if locale == 'es' %}{{ service.name }}{% else %}{{ service.nameEn }}{% endif %}">
						</div>
						<h3>{% if locale == 'es' %}{{ service.name }}{% else %}{{ service.nameEn }}{% endif %}</h3>
						<a href="{{ path('service', {slug: service.slug }) }}" title="TKP - {% if locale == 'es' %}{{ service.name }}{% else %}{{ service.nameEn }}{% endif %}" class="btn-default2">{% trans %}ver más{% endtrans %}</a>
					</div><!--service-col end-->
				</div>
				{% endfor %}
			</div>
		</div>
	</div><!--services-section end-->
</section><!--about_us_section end-->

<section class="sec-block4 overlay">
	<div class="bg-position right-position"></div>
	<div class="container">
		<div class="consulation-section">
			<div class="main-banner-text title-hd wow fadeInUp" data-wow-delay="300ms">
				<span>let’s get started</span>
				<h1>Get a Free Consultation <span></span></h1>
				<p class="bdy">We always try to implement our creative ideas at the highest level. Tell us about your project and we will make it work. </p>
			</div><!--title-hd end-->
			<div class="contact-form wow fadeInUp" data-wow-delay="300ms">
				<form method="post" action="#" id="contact-form">
					<div class="response"></div>
					<div class="row">
						<div class="col-lg-6">
							<div class="input-field">
								<input type="text" name="name" class="name" placeholder="Name">
							</div><!--input-field end-->
						</div>
						<div class="col-lg-6">
							<div class="input-field">
								<input type="text" name="email" class="email" placeholder="Email">
							</div><!--input-field end-->
						</div>
						<div class="col-lg-12">
							<div class="input-field">
								<textarea name="message" placeholder="Message"></textarea>
							</div><!--input-field end-->
						</div>
						<div class="col-lg-12">
							<div class="input-field m-0">
								<button type="button" class="btn-default" id="submit">Send message</button>
							</div>
						</div>
					</div>
				</form>
			</div><!--contact-form end-->
		</div><!--consulation-section end-->
	</div>
</section>
{% endblock %}
