{% extends 'base.html.twig' %}

{% block title %}Ten Ke Poder - Servicios{% endblock %}

{% block content %}
<section class="pager-sec text-right pb-75 dark-bg">
	<div class="container-fluid">
		<ul>
			<li><a href="{{ path('home') }}" title="TKP - {% trans %}Inicio{% endtrans %}">{% trans %}Inicio{% endtrans %}</a></li>
			<li><a href="{{ path('services') }}" title="TKP - {% trans %}Servicios{% endtrans %}">{% trans %}Servicios{% endtrans %}</a></li>
			<li><span>{% if app.request.locale == 'es' %}{{ service.name }}{% else %}{{ service.nameEn }}{% endif %}</span></li>
		</ul>
	</div>
</section><!--pager-sec end-->

<section class="sec-block p-0">
	<div class="fixed-bg dark-bg"></div>
	<div class="page-content">
		<div class="fixed-bg bg9"></div>
		<h2 class="page-number">01.</h2>
		<div class="container">
			<div class="main-banner-text title-hd max-width-80">
				<span>{% trans %}nuestros servicios{% endtrans %}</span>
				<h1>{% if app.request.locale == 'es' %}{{ service.name }}{% else %}{{ service.nameEn }}{% endif %} <span></span></h1>
			</div><!--main-banner-text end-->
			<div class="service-details pb-0">
				<div class="row">
					<div class="col-lg-9">
						<div class="service-details-content">
							<img src="{% path service.image, 'reference' %}" alt="TKP - {% if app.request.locale == 'es' %}{{ service.name }}{% else %}{{ service.nameEn}}{% endif %}" class="img-fluid">
							<p>{% if app.request.locale == 'es' %}{{ service.abstract|raw }}{% else %}{{ service.abstractEn|raw }}{% endif %}</p>
							<p>{% if app.request.locale == 'es' %}{{ service.description|raw }}{% else %}{{ service.descriptionEn|raw }}{% endif %}</p>
							<h3>{% trans %}Flujo de Trabajo{% endtrans %}</h3>
							<div class="row">
								<div class="col-lg-4">
									<div class="wk-text">
										<span>{% trans %}paso 1{% endtrans %}</span>
										<h3>{% trans %}Planificación y Estrategia{% endtrans %}</h3>
										<p>{% trans %}Evaluación del sitio actual, si fuera el caso, y de los sitios competidores. Identificación de requerimientos y objetivos.{% endtrans%}</p>
									</div><!--wk-text end-->
								</div>
								<div class="col-lg-4">
									<div class="wk-text">
										<span>{% trans %}paso 2{% endtrans %}</span>
										<h3>{% trans %}Diseño y Desarrollo{% endtrans %}</h3>
										<p>{% trans %}Definiciones sobre el diseño, colores y fuentes para la marca. Desarrollo del sitio web y su administrador.{% endtrans %}</p>
									</div><!--wk-text end-->
								</div>
								<div class="col-lg-4">
									<div class="wk-text">
										<span>{% trans %}paso 3{% endtrans %}</span>
										<h3>{% trans %}Pruebas y Lanzamiento{% endtrans %}</h3>
										<p>{% trans %}Testeos en un entorno de prueba. Generación/migración de contenidos. Publicación. Garantía de 3 meses. {% endtrans %}</p>
									</div><!--wk-text end-->
								</div>
							</div>
						</div><!--service-details-content end-->
					</div>
					<div class="col-lg-3">
						<div class="sidebar">
							<div class="widget widget-categories">
								<ul>
									{% for service in services|filter(v => v != service.name ) %}
										<li><a href="{{ path('service', {slug: service.slug }) }}" title="TKP - {% if app.request.locale == 'es' %}{{ service.name }}{% else %}{{ service.nameEn }}{% endif %}">{% if app.request.locale == 'es' %}{{ service.name }}{% else %}{{ service.nameEn }}{% endif %}</a></li>
									{% endfor %}
								</ul>
							</div><!--widget-categories end-->
							<div class="widget widget-help">
								<h3>{% trans %}¿Cómo podemos ayudarte?{% endtrans %}</h3>
								<p>{% trans %}¿No sabes por dónde empezar? Te ayudamos.{% endtrans %}</p>
								<a href="{{ path('contact') }}" title="TKP - {% trans %}Contáctanos{% endtrans %}" class="btn-default2">{% trans %}Contáctanos{% endtrans %}</a>
							</div><!--widget-help end-->
							{# <div class="widget widget-newslettter">
								<h3>Newsletter</h3>
								<form>
									<input type="email" name="email" placeholder="Email">
									<button type="submit"><img src="{{ asset('images/vector.svg') }}" alt=""></button>
								</form>
								<ul class="lang-slct">
									<li><a href="#" title="">fb</a></li>
									<li><a href="#" title="">lin</a></li>
									<li><a href="#" title="">inst</a></li>
								</ul>
							</div><!--widget-newslettter end--> #}
						</div><!--sidebar end-->
					</div>
				</div>
			</div><!--service-details end-->
		</div>
	</div><!--about-in-details end-->
</section><!--about_us_section end-->

{# <section class="sec-block">
	<div class="fixed-bg bg7"></div>
	<h2 class="page-number">02.</h2>
	<div class="container">
		<div class="main-banner-text title-hd wow fadeInUp mgb-100" data-wow-delay="300ms">
			<span>{% trans %}¿Cuánto cuesta?{% endtrans %}</span>
			<h1>{% trans %}precios orientativos {% endtrans %}<span></span></h1>
			<p class="bdy">{% trans %}Te ofrecemos algunas opciones para que conozcas nuestros rangos de precios. Siempre se pueden customizar a tu presupuesto y requerimientos. {% endtrans %}</p>
		</div><!--title-hd end-->
		<div class="prices-section text-center">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="price-col">
						<div class="price-head">
							<h4>Basic</h4>
							<h2><sup>$</sup>479<sup>.99</sup></h2>
							<span>per month</span>
						</div>
						<ul>
							<li> Customized Store Design</li>
							<li>  jQuery Rotating Banner</li>
							<li>  Interactive Menu</li>
							<li>  Inquiry Form</li>
							<li> Responsive Design</li>
						</ul>
						<a href="#" title="" class="btn-default">Buy Now</a>
					</div><!--price-col end-->
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="price-col active">
						<div class="price-head">
							<h4>Corporate</h4>
							<h2><sup>$</sup>779<sup>.99</sup></h2>
							<span>per month</span>
						</div>
						<ul>
							<li>Basic plan</li>
							<li> Design prototyping</li>
							<li> Mobile Menu</li>
							<li> Competitor analysis</li>
							<li>Offer Pop-Up Windows</li>
						</ul>
						<a href="#" title="" class="btn-default">Buy Now</a>
					</div><!--price-col end-->
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="price-col">
						<div class="price-head">
							<h4>Business</h4>
							<h2><sup>$</sup>989<sup>.99</sup></h2>
							<span>per month</span>
						</div>
						<ul>
							<li>Corporatre plan</li>
							<li> Subscription Pages</li>
							<li> Unlimited Web Space</li>
							<li> FREE Site Building Tools</li>
							<li>24/7 Support</li>
						</ul>
						<a href="#" title="" class="btn-default">Buy Now</a>
					</div><!--price-col end-->
				</div>
			</div>
		</div><!--prices-section end-->
	</div>
</section>
 #}
<section class="sec-block">
	<div class="fixed-bg bg4"></div>
	<h2 class="page-number">02.</h2>
	<div class="container">
		<div class="section-head">
			<div class="main-banner-text title-hd wow fadeInUp" data-wow-delay="300ms">
				<span>portfolio</span>
				<h1>{% trans %}Proyectos relacionados {% endtrans %}<span></span></h1>
				<p class="bdy">{% trans %}Siempre tratamos de implementar nuestros proyectos al más alto nivel. Puedes verlo en nuestro portfolio.{% endtrans %}</p>
			</div><!--title-hd end-->
			<a href="{{ path('projects') }}" title="" class="btn-default2">{% trans %}Ver todos los proyectos{% endtrans %}<img src="{{ asset('images/icon4.svg') }}" alt=""></a>
			<div class="clearfix"></div>
		</div>
		<div class="pft-items">
			<div class="row">
				{% for project in service.projects %}
					<div class="col-lg-4 col-md-6 col-sm-6 col-12">
						<div class="pft-item wow fadeInUp" data-wow-delay="300ms">
							<img src="{% path project.image, 'reference' %}" alt="TKP - {{ project.name }}">
							<div class="figcaption">
								<h2><a href="{{ path('project', {slug: project.slug}) }}" title="">{{ project.name }}</a></h2>
								<a href="{{ path('project', {slug: project.slug}) }}" title=""><img src="{{ asset('images/icon9.svg') }}" alt=""></a>
							</div><!--figcaption end-->
						</div><!--pft-item end-->
					</div>
				{% endfor %}
			</div>
		</div><!--pft-items end-->
	</div>
</section><!--case-studies-section end-->
{% endblock %}