{{ form_start(form, {'attr': {'id': 'contact-form'} } ) }}
    <div class="response"></div>
    <div class="row">
        <div class="col-lg-6">
            <div class="input-field">
                {{ form_widget(form.name) }}
            </div><!--input-field end-->
        </div>
        <div class="col-lg-6">
            <div class="input-field">
                {{ form_widget(form.email) }}
            </div><!--input-field end-->
        </div>
        <div class="col-lg-6">
            <div class="input-field">
                {{ form_widget(form.telephone) }}
            </div><!--input-field end-->
        </div>
        <div class="col-lg-6">
            <div class="input-field">
                {{ form_widget(form.service) }}
            </div><!--input-field end-->
        </div>
        <div class="col-lg-12">
            <div class="input-field">
                {{ form_widget(form.message) }}
            </div><!--input-field end-->
        </div>
        <div style="display:none">
            {{ form_widget(form.recaptchaResponse) }}
        </div>
        <div class="col-lg-12">
            <div class="input-field">
                {{ form_widget(form.privacy) }}
                <label for="contact_privacy">{% trans %}Acepto la {% endtrans %}<a href="{{ path('privacy_policy') }}"> {% trans %}Política de Privacidad*{% endtrans %}</a></label>
            </div><!--input-field end-->
        </div>
        {{ form_errors(form) }}
        <div class="col-lg-12">
            <div class="input-field m-0">
                <button type="button" class="btn-default" id="submit">{% trans %}Enviar mensaje{% endtrans %}</button>
            </div>
        </div>
    </div>
{{ form_end(form) }}
<script src="https://www.google.com/recaptcha/api.js?render=" async></script>
<script>
    grecaptcha.ready(function() {
        grecaptcha.execute('', {action: 'contacto'})
            .then(function(token) {
                var recaptchaResponse = document.getElementById('contact_recaptchaResponse');
                recaptchaResponse.value = token;
            });
    });
</script>