{{ form_start(form, {'attr': {'class': 'newsletter-form', 'id': 'newsletter-form'} } ) }}
	<div class="response"></div>
	{{ form_widget(form.email) }}
	<button type="submit" id="submit-form"><img src="{{ asset('images/send.svg') }}" alt="TKP - Newsletter"></button>
	<div class="clearfix"></div>
	<div style="display:none">
        {{ form_widget(form.recaptchaResponse) }}
    </div>
	{{ form_widget(form.privacy, {'attr': {'style':"width: 13px;margin-right: 5px"}}) }}
    <label for="newsletter_privacy">{% trans %}Acepto la {% endtrans %}<a href="{{ path('privacy_policy') }}"> {% trans %}Política de Privacidad{% endtrans %}</a></label>
{{ form_end(form) }}