<div class="responsive-mobile-menu">
    <div class="responsive-logo">
        <img src="{{ asset('images/logo_menu_responsive.png')}}" alt="Ten Ke Poder" style="width: 35%">
    </div>
    <ul>
        <li><a href="{{ path('home') }}" title="TKP - {% trans %}Inicio{% endtrans %}">{% trans %}Inicio{% endtrans %}</a>
        </li>
        <li><a href="{{ path('services') }}" title="TKP - {% trans %}Servicios{% endtrans %}">{% trans %}Servicios{% endtrans %}</a>
            <ul>
                {% for service in services %}
                    <li><a href="{{ path('service', {slug: service.slug }) }}" title="TKP - {{ service.name }}">{% if app.request.locale == 'es' %}{{ service.name }}{% else %}{{ service.nameEn }}{% endif %}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li><a href="{{ path('projects') }}" title="TKP - {% trans %}Proyectos{% endtrans %}">{% trans %}Proyectos{% endtrans %}</a></li>
        <li><a href="{{ path('contact') }}" title="TKP - {% trans %}Contáctanos{% endtrans %}">{% trans %}Contáctanos{% endtrans %}</a></li>
    </ul>
</div><!--responsive-mobile-menu end-->