<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 " />

    <title>Ten Ke Poder</title>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            min-width: 100% !important;
        }
        .content {
            background-color: #121318;
            width: 100%;
            max-width: 600px;
        }
        @media only screen and (min-device-width: 601px) {
            .content {width: 600px !important;}
        }
        h1, p, a, h3{
            font-family: 'Muli', sans-serif;
            color: #ffffff!important;
        }
        p {
            font-size: 14px;
        }
        h3 {
            font-size: 16px;
        }
        .btn-default:hover {
            background-color: #dd4142!important;
        }
    </style>
</head>
<body>
<table width="100%" bgcolor="121318" border="0" cellpadding="0" cellspacing="0">
    <tbody><tr>
        <td>
            <table class="content" align="center" cellpadding="0" cellspacing="0" border="0" style="background-color: #121318">
                <tbody><tr>
                    <td style="text-align: center;">
                       <a href="{{ path('home') }}" target="_blank"><img src="https://tenkepoder.com/logo.png" alt="Ten Ke Poder" style="width: 65%; margin-top: 25px;"></a>
                    </td>
                    <td>
                    </td>
                </tr>
            </tbody></table>
        </td>
    </tr>
    <tr>
        <td>
            <table class="content" align="center" cellpadding="0" cellspacing="0" border="0">
                <tbody><tr style="margin-top: 10px; margin-bottom: 10px">
                    <td>
                        <div style="margin: 10px">
                        </div>
                    </td>
                    <td style="width: 25%">
                    </td>
                </tr>
            </tbody></table>
            <table class="content" align="center" cellpadding="0" cellspacing="0" border="0">
                <tbody><tr>
                    <td>
                        <div style="margin-right: 10px; margin-left: 10px; padding-top: 30px; background-color: #121318; text-align: center">
                            <h3 style="margin-top: 0 !important; margin-bottom: 0 !important; color:#ffffff">
                                    Nuevo contacto desde tenkepoder.com
                            </h3>
                        </div>
                        <div style="margin-right: 10px; margin-left: 10px; padding-top: 10px; padding-bottom: 40px; background-color: #121318; text-align: center; color:#ffffff">
                            {% if datos.name is defined and datos.name is not empty %}
                                <p style="padding-top: 30px ; margin-top: 0 !important; margin-bottom: 0 !important;">
                                    {% if app.request.locale == 'es' %}Nombre y Apellidos: {% else %}Full Name: {% endif %}{{ datos.name }}
                                </p>
                            {% endif %}
                            {% if datos.email is defined and datos.email is not empty %}
                                <br>
                                <p style="margin-top: 0 !important; margin-bottom: 0 !important;">
                                    Email: <a href="mailto:{{ datos.email }}">{{ datos.email }}</a>
                                </p>
                            {% endif %}
                            {% if datos.telephone is defined and datos.telephone is not empty %}
                                <br>
                                <p style="margin-top: 0 !important; margin-bottom: 0 !important;">
                                    {% if app.request.locale == 'es' %}Teléfono: {% else %}Telephone: {% endif %}<a href="tel:34965807868">{{ datos.telephone }}</a>
                                </p>
                            {% endif %}
                            {% if datos.service.name is defined and datos.service.name is not empty %}
                                <br>
                                <p style="margin-top: 0 !important; margin-bottom: 0 !important;">
                                    {% if app.request.locale == 'es' %}Servicio: {{ datos.service.name }} {% else %}Service: {{ datos.service.nameEn }} {% endif %}
                                </p>
                            {% endif %}
                            {% if datos.message is defined and datos.message is not empty %}
                                <br>
                                <p style="margin-top: 0 !important; margin-bottom: 0 !important;">
                                    {% if app.request.locale == 'es' %}Mensaje: {% else %}Message: {% endif %}{{ datos.message|raw }}
                                </p>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            </tbody></table>
            <table class="content" align="center" cellpadding="0" cellspacing="0" border="0" style="margin-bottom: 25px">
                <tbody><tr style="margin-top: 10px; margin-bottom: 10px">
                    <td valign="middle">
                        <div style="margin: 10px; background-color: #121318">
                            <p style="text-align: center; line-height: 150%; font-size: 12px;color:#ffffff"><img src="https://tenkepoder.com/favicon.png" alt="Ten Ke Poder" style="width: 20px; height: 20px; vertical-align: bottom"> Copyright © 2020 <span style="width: 5px; height: 5px; background-color: #dc4242; border-radius: 100px; display: inline-block"></span> {% trans %}Todos los derechos reservados{% endtrans %}</p>
                        </div>
                    </td>
                </tr>
            </tbody></table>
        </td>
    </tr>
</tbody></table>
</body>
</html>